<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav style="background-color: #4c566a">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="padding-left: 30px">PyShop!</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if logged %}
          <li><a href="/your_products">Your Products</a></li>
          <li><a href="/bag">Your Bag</a></li>
          <li><a href="/market">Market</a></li>
          <li><a href="/profile/{{ name }}">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/signin">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% for i in get_flashed_messages(with_categories=True) %} {% if i[0] ==
      'success' %}
      <div class="materialert success">
        <span>{{ i[1] }}</span>
        <button type="button" class="close-alert">×</button>
      </div>
      {% else %}
      <div class="materialert error">
        <span>{{ i[1] }}</span>
        <button type="button" class="close-alert">×</button>
      </div>
      {% endif %} {% endfor %}
    </div>

    <br /><br />
    <div class="container">{% block body %} {% endblock %}</div>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Italianno&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <script>
      $(".materialert .close-alert").click(function () {
        $(this).parent().hide("slow");
      });

      // Just A Color Change Of Header Every Time, Not Required
      document.addEventListener("DOMContentLoaded", () => {
        const arr = [
          "#8FBCBB",
          "#88C0D0",
          "#81A1C1",
          "#5E81AC",
          "#BF616A",
          "#D08770",
          "#EBCB8B",
          "#A3BE8C",
          "#B48EAD",
        ];

        document.querySelector(".brand-logo").style.color =
          arr[Math.floor(Math.random() * 8)];
      });
    </script>
  </body>
</html>
