{% extends "__basic_layout.html" %}
{% block body %}
<br><br>
    <div class="header">
        Enter The Details About Your Product
    </div>
    <br><br>
    <form action="" method="POST">
        <input type="text" name="name" placeholder="Produce Name">
        <input type="number" name="price"  placeholder="Enter The Price">
        <input type="number" name="number" placeholder="Contact Number">
        <br><br>
        <button class="btn width">Add Your Item To The Market</button>
    </form>
    {% endblock %}